.App {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-side {
  width: 15%;
  height: 100vh;
  overflow-y: scroll;
  display: block;
  background-color: #eeeeee;
}

@media screen and (max-width: 768px) {
  .left-side {
    width: 200px;
  }
}

.right-side {
  display: block;
  height: 100vh;
  overflow-y: scroll;
  margin-left: 20px;
}

.gallery-box {
  display: grid;
  grid-template-columns: repeat(5, 180px); 
  grid-gap: 10px;
}

@media screen and (max-width: 1279px) {
  .gallery-box {
    display: grid;
    grid-template-columns: repeat(4, 180px);
  }
}

@media screen and (max-width: 992px) {
  .gallery-box {
    display: grid;
    grid-template-columns: repeat(3, 180px);
  }
}

@media screen and (max-width: 768px) {
  .gallery-box {
    display: grid;
    grid-template-columns: repeat(2, 180px);
  }
}

@media screen and (max-width: 600px) {
  .gallery-box {
    display: grid;
    grid-template-columns: repeat(1, 180px);
  }
}

.gallery-cell {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
}

.gallery-cell:hover {
  opacity: 0.5;
}

.gallery-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.gallery-cell h6{
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  z-index: 5;
  margin: 0px;
  color: white;
  background-color: #00000060;
}

.gallery-cell p {
  margin: 0px;
  padding: 2px;
  font-size: 0.9rem;
}

.stat-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.stat-detail {
  margin: 1rem;
}

.stat-detail h6 {
  margin: 0px 0px 2px;
  font-size: 0.8rem;
}

.stat-detail p {
  margin: 0px;
}